@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /* == LIGHT THEME == */
    --Background-dark: #212529;
    --Background-2nd : #1d1b1f;
    --text-black : #070505;

    /* == DARK THEME == */
    --Background-dark: #212529;
    --Background-2nd : #1d1b1f;

    /* == FONT FAMILY == */
    --QuickSand-family : "Quicksand", sans-serif;

}
body{
    width: 100%;
    height: 100%;
    display: block;
}
li , a { 
    list-style: none; 
    text-decoration: none; 
    color: var(--text-black);
}

/* == NAVBAR == */
.d-fr{
    display: flex;
    justify-content: space-between;
    
}